<h2>Welcome to <%= @restaurant.name %></h2>
<h3><%= @restaurant.category %></h3>
<p>Address: <%= @restaurant.address %></p>
<p>Phone Number: <%= @restaurant.phone_number %></p>
<h2>Reviews</h2>
<ol>
<ul class="list-group">
  <% @reviews.each do |review| %>
  <li class= "list-group-item">Rating: <%= review.rating %> - <%= review.content %></li>
  <% end  %>
</ul>

<h2>Leave a Review</h2>
<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%= link_to "back to list", restaurants_path %>
